<!DOCTYPE html>
<html>
  <head>
    <title>Drum Corps Scoreboard</title>
    <link rel='stylesheet' href='/scoreboard/stylesheets/style.css' />
  </head>
  <body>
    <h1>Drum Corps Scoreboard</h1>

    <h3>Scores</h3>
    <pre>
<%= scores %>
    </pre>
  </body>
</html>
